ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

/* =============================== Header ======================== */
.page-header {
}
.page-navigation {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.menu {
    
}
.list   {
   

}
.menu-link {
    
    font-size: 20px;
}